/*Custom font*/
@font-face {
    font-family: 'Beatrix Antiqua Bold';
    font-weight: bold;
    src: url('../font/Beatrix-Antiqua-ExtraBold-trial.ttf');
}

@font-face {
    font-family: 'AL_Nevrada_PersonalUseOnly';
    font-weight: bold;
    src: url('../font/AL_Nevrada_PersonalUseOnly.ttf');
}

@font-face {
    font-family: 'Beatrix Antiqua Medium';
    src: url('../font/Beatrix-Antiqua-Medium-trial.ttf');
}

@font-face {
    font-family: 'Beatrix Antiqua light';
    src: url('../font/Beatrix-Antiqua-Light-trial.ttf');
}

@font-face {
    font-family: 'Rainclouds DEMO Regular';
    font-weight: bold;
    src: url('../font/Rainclouds.ttf');
}

.app_brand {
    -fx-font-family: 'Rainclouds DEMO Regular';
    -fx-font-size: 36pt;
    -fx-text-fill: rgba(123, 87, 69, 1);
    -fx-text-weight: bold;
}

.sub_header {
    -fx-font-family: 'Rainclouds DEMO Regular';
    -fx-font-size: 20pt;
    -fx-text-fill: rgba(123, 87, 69, 1);
    -fx-text-weight: bold;
}

.index_lbl {
    -fx-font-family: 'AL_Nevrada_PersonalUseOnly';
    -fx-font-size: 12pt;
}

.taskName_lbl {
    -fx-font-family: 'Beatrix Antiqua Medium';
    -fx-font-size: 12pt;
}

/* main window*/
#mainContainer {
    -fx-background-image: url('../images/main_bg.png');
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}

/* Status bar */
.status-bar {
    -fx-background-color: rgba(123, 87, 69, 0.8);
}

.status-bar .label {
    -fx-font-family: "Verdana";
    -fx-text-fill: white;
    -fx-padding: 2px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: rgba(123, 87, 69, 0.8);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

/*Menu and menu-content*/
.menu-bar {
    -fx-background-color: rgba(123, 87, 69, 1);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.menu-button:showing, .menu-button:hover {
    -fx-background-color: #b9b2a7;
}

.menu-item:showing {
    -fx-background-color: rgba(196, 177, 152, 1);
}

.context-menu {
    -fx-padding: 0 0 0 0;
    -fx-background-color: rgba(196, 177, 152, 1);
}

.menu-item:showing, .menu-item:hover {
    -fx-background-color: #e6dbd2;
    -fx-text-fill: #7b5745;
}

.menu-item:showing .label, .menu-item:hover .label {
    -fx-text-fill: #7b5745;
}


/* scroll bar */
.scroll-bar {
    -fx-background-color: rgba(196, 177, 152, 0.8)
}

.scroll-bar .thumb {
    -fx-background-color: rgba(173, 129, 90, 0.8);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/*command input box*/
.pane-with-border {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-top-width: 0px;
}

/*result display*/
.result-display {
    -fx-font-family: "Beatrix Antiqua light";
    -fx-font-size: 13pt;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-text-fill: #3c2e2c;
}

.result-display .label {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

#filterField, #taskListView, #dueSoonListView {
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
    -fx-background-color: white;
}

/*List views*/
.list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .virtual-flow {
    -fx-background-color: white;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: white;
}

.list-cell:filled:even {
    -fx-background-color: rgba(197, 179, 149, 0.5);
}

.list-cell:filled:odd {
    -fx-background-color: rgba(249, 245, 236, 0.5);
}

.list-cell:filled:selected {
    -fx-background-color: #c5b395;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #c5b395;
    -fx-border-width: 1;
}

.list-cell:filled:selected .label {
    -fx-text-fill: white;
}

.list-cell .label {
    -fx-text-fill: #3c2e2c;
}

/* task types style */
.assignment_lbl,
.quiz_lbl,
.presentation_lbl,
.meeting_lbl,
.exam_lbl,
.others_lbl{
    -fx-background-radius: 4;
	-fx-text-fill: white !important;
	-fx-label-padding: 0.2em 0.5em 0.2em 0.5em;
}

.assignment_lbl {
    -fx-background-color: #ec7561;
}

.quiz_lbl {
    -fx-background-color: #498da4;
}

.presentation_lbl {
    -fx-background-color: #a56a91;
}

.meeting_lbl {
    -fx-background-color: #609369;
}

.exam_lbl {
    -fx-background-color: #bf5252;
}

.others_lbl {
    -fx-background-color: #5fb2ce;
}

/*time left */
.time_left{
    -fx-background-color: #f0ad4e;
    -fx-background-radius: 4;
	-fx-text-fill: white !important;
	-fx-label-padding: 0.2em 0.5em 0.2em 0.5em;
	-fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

/* task status style */
.pending_status,
.done_status,
.due_soon_status,
.overdue_status,
.important_status {
    -fx-background-radius: 4;
	-fx-text-fill: white !important;
	-fx-label-padding: 0.2em 0.5em 0.2em 0.5em;
}

/* for task status: done */
.done_status {
    -fx-background-color: #478e47;
}

/* for task status: pending */
.pending_status {
    -fx-background-color: #337ab7;
}

/* for task status: due soon */
.due_soon_status {
    -fx-background-color: #f0ad4e;
}

/* for task status: overdue */
.overdue_status {
    -fx-background-color: #d9534f;
}

/*button style*/
.button {
	-fx-font-size: 14;
	-fx-background-radius: 4;
	-fx-border-radius: 4;
	-fx-pref-height: 30;
	-fx-min-width: 30;
	-fx-background-insets: 0, 0, -1, 0;
}

.button:hover {
   	-fx-background-color: #e6e6e6;
   	-fx-border-color: #acacac;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: #e6e6e6;
	-fx-border-color: #acacac;
	-fx-effect: innershadow(gaussian, #adadad, 10, 0, 0, 3);
}

.button:focused {
   -fx-effect: dropshadow(gaussian, #b4d1f3, 3, 3, 0, 0);
}

.button:disabled, .button:default:disabled {
   -fx-opacity: 0.4;
   -fx-background-color: #1d1d1d;
   -fx-text-fill: white;
}

.button:default {
   -fx-background-color: -fx-focus-color;
   -fx-text-fill: #ffffff;
}

.button:default:hover {
   -fx-background-color: derive(-fx-focus-color, 30%);
}

/*calender style*/
.calender_panel {
    -fx-background-color: #94a57e;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: white;
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
}

.calender_lbl_lg {
    -fx-font-family: 'AL_Nevrada_PersonalUseOnly';
    -fx-font-size: 18pt;
    -fx-text-fill: white;
}

.calender_lbl_sm {
    -fx-font-family: 'AL_Nevrada_PersonalUseOnly';
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.calender_btn {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.calender_btn:hover {
     -fx-background-color: white;
     -fx-border-radius: 8;
     -fx-border-radius: 10;
     -fx-text-fill: rgba(64, 94, 106, 1);
     -fx-border-color: white;
}

.calender_btn:pressed, .calender_btn:default:hover:pressed {
	-fx-background-color: #e6e6e6;
	-fx-border-color: #acacac;
}

/*
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: derive(#1d1d1d, 20%);
}

.due-soon-display .label {
    -fx-text-fill: black !important;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

/*
.dialog-pane {
   -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
   -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
   -fx-font-size: 14px;
   -fx-font-weight: bold;
   -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
   -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
   -fx-font-size: 18px;
   -fx-font-style: italic;
   -fx-fill: white;
   -fx-text-fill: white;
}

#cardPane {
   -fx-background-color: transparent;
   -fx-border-width: 0;
}

#commandTypeLabel {
   -fx-font-size: 11px;
   -fx-text-fill: #F70D1A;
}

#commandTextField {
   -fx-background-color: transparent #383838 transparent #383838;
   -fx-background-insets: 0;
   -fx-border-color: #383838 #383838 #ffffff #383838;
   -fx-border-insets: 0;
   -fx-border-width: 1;
   -fx-font-family: "Segoe UI Light";
   -fx-font-size: 13pt;
   -fx-text-fill: white;
}


#resultDisplay .content {
   -fx-background-color: transparent, #383838, transparent, #383838;
   -fx-background-radius: 0;
}

#dueSoonDisplay .content {
   -fx-background-color: transparent, #383838, transparent, #383838;
   -fx-background-radius: 0;
}

#tags {
   -fx-hgap: 7;
   -fx-vgap: 3;
}

#tags .label {
   -fx-text-fill: white;
   -fx-background-color: #3e7b91;
   -fx-padding: 1 3 1 3;
   -fx-border-radius: 2;
   -fx-background-radius: 2;
   -fx-font-size: 11;
}*/
